.profile_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.profile_pic {
  margin-right: 1rem;
  height: 150px;
  width: 150px;
}

.profile_pic img {
  height: 100%;
  width: 100%;
}

.profile_details {
  display: flex;
  flex-flow: column nowrap;
  justify-items: flex-start;
  align-items: flex-start;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
}

.age {
  font-size: 1.2rem;
  color: rgb(56, 56, 56);
}
